# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=stafind

# Server Configuration
PORT=8080

# Environment
GIN_MODE=debug

# Air Development Variables
APP_ENV=dev
APP_USER=air
HUGGINGFACE_API_KEY=HUGGINGFACE_API_KEY

# Optional: Additional environment variables
# JWT_SECRET=your-jwt-secret-here
# API_KEY_SECRET=your-api-key-secret-here
# LOG_LEVEL=info
